<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
	id="WebApp_ID"
	version="3.0">
	<display-name>queryon-demo-static</display-name>
	
	<servlet>
		<servlet-name>QueryOn</servlet-name>
		<servlet-class>tbrugz.queryon.QueryOn</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>QueryOn</servlet-name>
		<url-pattern>/q/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SwaggerServlet</servlet-name>
		<servlet-class>tbrugz.queryon.api.SwaggerServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>SwaggerServlet</servlet-name>
		<url-pattern>/swagger/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ODataServlet</servlet-name>
		<servlet-class>tbrugz.queryon.api.ODataServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ODataServlet</servlet-name>
		<url-pattern>/odata/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>GraphQlQonServlet</servlet-name>
		<servlet-class>tbrugz.queryon.graphql.GraphQlQonServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>GraphQlQonServlet</servlet-name>
		<url-pattern>/graphql/*</url-pattern>
	</servlet-mapping>

</web-app>
