<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
	id="WebApp_ID"
	version="3.0">
	<display-name>qon-soap</display-name>
   <listener>
     <listener-class>
        com.sun.xml.ws.transport.http.servlet.WSServletContextListener
     </listener-class>
   </listener>
   
   <servlet>
      <servlet-name>QonSoapServlet</servlet-name>
      <servlet-class>
        tbrugz.queryon.soap.QonSoapServlet
      </servlet-class>
   </servlet>

   <servlet-mapping>
     <servlet-name>QonSoapServlet</servlet-name>
     <url-pattern>/soap/*</url-pattern>
   </servlet-mapping>
   
   <!-- <servlet>
      <servlet-name>QueryOnWS</servlet-name>
      <servlet-class>
        com.sun.xml.ws.transport.http.servlet.WSServlet
      </servlet-class>
   </servlet>
   
   <servlet-mapping>
     <servlet-name>QueryOnWS</servlet-name>
     <url-pattern>/soap/*</url-pattern>
   </servlet-mapping> -->
   
</web-app>
