body {
	margin: 10px;
	font: normal 15px Tahoma, Geneva, sans-serif; 
	color: #222222;
}
pre {
	background-color: #ddd;
}
input {
	width: 30em;
}
input.medium {
	width: 12em;
}
input.small {
	width: 7em;
}
input.smaller {
	width: 1em;
}
input[type=button] {
	width: 7em;
}
input.symbol {
	width: 1em;
	padding: 0;
	font-size: small;
}
.box {
	border: 2px solid #bbb;
	padding: 4px;
	margin: 3px;
	width: 30em;
}
.hint {
	color: #888;
}
.boxsmall {
	border: 2px solid #bbb;
	padding: 4px;
	margin: 3px;
	width: 14em;
}
.label {
	padding: 3px;
	margin: 2px;
}
.placeInfo {
	font-weight: bold;
	padding: 3px;
	margin: 2px;
	background-color: #eee;
}
.smalltext {
	font-size: 10px;
}

.canvas {
	margin: 2px;
}
.debug {
	/*display: none;*/
}
.category {
	/* TODO: margin... */
	/*border: 2px solid #bbb;*/
	/*margin: 10px;*/
	background-color: #000;
	padding: 0 0 0 0;
	text-align: right;
}
.categoryInternal {
	/* TODO: margin... */
	/*border: 2px solid #bbb;
	margin: 1px;*/
}

#place_info {
	background-color: #ccc;
	padding: 3px; 
}
#messages {
	background-color: #ff5;
	font-weight: bold;
	padding: 3px;
}
#category_info {
	margin: 2px; 
	background-color: #ffa;
	font-weight: bold;
	padding: 1px;
}
#category_info_contents {
	font-size: 10px; 
}
#position {
	background-color: #ccc;
	padding: 3px;
	font-size: 11pt;
	position: absolute; bottom: 2px; left: 16.6em; width: 9em; border: 1px solid black; display: none;
}

table {
	width: 70%;
	background-color: #ccc;
}
td {
	background-color: #eee;
}
.number {
	width: 20%;
	text-align: right;
}

hr {
	left: 5px;
	width: 70%;
	height: 2px;
	background-color: #ccc;
}

.dialog {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(100,100,100,0.7);
}

.dialog div {
	top: 30px;
	position: fixed;
	left: 30%;
	background-color: ddd;
	padding: 10px;
	border: 2px solid;
}