
body {
	background-color: #ddd;
}

#logo {
	font-size: 14pt;
	/* padding: 4px; */
}

.logo {
	color: #ddd;
	font-weight: bold;
	background-color: #666;
	border: 2px solid #666;
	/* padding: 2px; */
}

.parameter-label {
	display: inline-block;
	background-color: #bbb;
	padding: 2px;
	margin: 2px;
}

input.parameter {
	width: 4em;
}
