
body {
	background-color: #ddd;
}

#logo {
	font-size: 14pt;
	/* padding: 4px; */
}

.logo {
	color: #ddd;
	font-weight: bold;
	background-color: #666;
	border: 2px solid #666;
	/* padding: 2px; */
}

.parameter-label {
	display: inline-block;
	background-color: #bbb;
	padding: 2px;
	margin: 2px;
	font-family: monospace;
}

input.parameter {
	width: 4em;
}

#dataRemarks {
	font-size: small;
	background-color: #f0f0f0;
	font-family: monospace;
	padding: 2px;
	display: none;
	margin: 2px;
}

input.onaction {
	background-color: #f90 !important;
}
