<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
	id="WebApp_ID"
	version="3.0">
	<display-name>queryon</display-name>
	
	<servlet>
		<servlet-name>QueryOn</servlet-name>
		<servlet-class>tbrugz.queryon.QueryOn</servlet-class>
		<init-param>
			<param-name>properties-resource</param-name>
			<param-value>/tbrugz/queryon/http/empdept.properties</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>QueryOnSchema</servlet-name>
		<servlet-class>tbrugz.queryon.QueryOnSchema</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>QueryOnSchemaInstant</servlet-name>
		<servlet-class>tbrugz.queryon.QueryOnSchemaInstant</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>ProcessorServlet</servlet-name>
		<servlet-class>tbrugz.queryon.ProcessorServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>SwaggerServlet</servlet-name>
		<servlet-class>tbrugz.queryon.api.SwaggerServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>TestServlet</servlet-name>
		<servlet-class>tbrugz.queryon.http.TestServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>QueryOn</servlet-name>
		<url-pattern>/q/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>QueryOnSchema</servlet-name>
		<url-pattern>/qoschema/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>QueryOnSchemaInstant</servlet-name>
		<url-pattern>/qos/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>ProcessorServlet</servlet-name>
		<url-pattern>/processor/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>SwaggerServlet</servlet-name>
		<url-pattern>/swagger/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ODataServlet</servlet-name>
		<servlet-class>tbrugz.queryon.api.ODataServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ODataServlet</servlet-name>
		<url-pattern>/odata/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>GraphQlQonServlet</servlet-name>
		<servlet-class>tbrugz.queryon.graphql.GraphQlQonServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>GraphQlQonServlet</servlet-name>
		<url-pattern>/graphql/*</url-pattern>
	</servlet-mapping>
	
	<!-- <listener>
		<listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
	</listener>-->
	
	<servlet>
		<servlet-name>QonSoapServlet</servlet-name>
		<servlet-class>tbrugz.queryon.soap.QonSoapServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>QonSoapServlet</servlet-name>
		<url-pattern>/soap/*</url-pattern>
	</servlet-mapping>

</web-app>