
.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.line {
	fill: none;
	stroke-width: 2px;
}

.line:hover {
	stroke-width: 4px;
}

svg {
	border: 1px solid #ccc;
}
