#editor {
	/*position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	right: 1ex;
	left: 1ex;
	margin: 2em;
	*/
	height: 20em;
	border: 1px solid black;
}
/*#objectid-container {
	background-color: #ddd;
}*/
label {
	background-color: #ddd;
	font-weight: bold;
	padding-left: 3px;
}
.container {
	/*border: 1px solid #999;*/
	margin-top: 2px;
	margin-bottom: 2px;
}
#button-container {
	padding-bottom: 2px;
	border-bottom: 1px solid #999;
	display: inline-block;
	width: 100%;
}

.closebutton {
	background-color: #666;
	/* position: absolute; */
	right: 0px;
	font-weight: bold;
	border: 0;
}
/*#queryResult {
	overflow-y: scroll;
	bottom: 0px;
}*/

#status-container {
	position: fixed;
	bottom: 0;
	padding: 2px;
	right: 0;
}

a, a:visited {
	font-weight: bold;
	font-size: 10pt;
	color: #000;
	padding: 2px;
}

#url-permalink {
	display: none;
}

#removebutton {
	/*font-weight: bold;
	font-size: 10pt;
	color: #000;
	padding: 2px;
	*/
	background-color: #f55;
}

#objectid-container {
	display: inline-block;
	width: 100%;
}

#editor {
}

#spec {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	background-color: #ddd;
}

#button-container input[type=button] {
	border: 1px solid #999;
	margin: 2px;
}

#actions-container a {
	text-decoration: none;
	border: 1px solid #999;
	padding: 1px 9px 1px 9px;
}

#queryResult {
	position: absolute;
	z-index: -1;
}

.message {
	border: 1px solid #999;
	margin: 2px;
	padding: 2px;
}

#xtra-actions {
	float: right;
	padding: 2px 0px 2px 5px;
}

#username {
	padding: 3px 5px 3px 5px;
	margin-left: 15px;
	background-color: #B8B5B5;
	font-weight: bold;
	/*margin: 2px 4px 2px 4px;*/
}

/* roles */

#rolesLabel {
	display: none;
}

#rolesLabel input[type=button] {
	padding: 0px 9px 0px 9px;
}

#rolesCount {
	display: none;
	background-color: rgb(146, 218, 136);
	/*padding: 2px 4px 2px 3px;*/
	padding: 0px 4px 0px 3px;
	border: 1px solid #888;
}

#rolesBtn {
	display: none;
	border: 1px solid #999;
	margin: 2px;
}

#rolesListDialogContainer {
	display: none;
	position: absolute;
	top: 15px;
	right: 15px;
	width: 30em;
	z-index: 100;
	max-height: 80%;
}

#rolesListDialog {
	position: relative;
	background-color: #fff;
	border: 3px solid #999;
	padding: 3px;
}

#rolesListDialogBtns {
	padding-top: 10px;
}

#rolesListDialogContainer .disabled {
	text-decoration: line-through;
}

#help {
	background-color: #9B9BEE;
	padding: 2px 3px 2px 3px;
	font-family: monospace;
	margin-left: 15px;
	border: 1px solid;
}

#help a {
	text-decoration: none;
}
