#nav {
	background-color: #222;
	color: #ddd;
	font-weight: bold;
	font-size: 10pt;
	padding: 3px;
	top: 0px;
	right: 0px;
	left: 0px;
	/*height: 30px;*/
	z-index: 10;
	overflow-y: auto;
	max-height: 100%;
}

#nav a, #nav a:visited {
	color: #ccc;
}
#navbar-prop {
	display: none;
}
#navbar-links {
	display: inline-block;
	padding-top: 5px;
}

#authinfo {
	float: right;
	margin: 6px;
}
#username {
	background-color: #555;
	padding: 2px;
	display: none;
}

.edit-link {
	display: none;
	/*margin: 0 1em 0 1em;*/
	padding: 3px;
	/*color: #A72020;
	color: #D11919;*/
	background-color: #5A5A5A;
	/* #238F28; #9C7909; #5A5A5A; */
	text-decoration: initial;
}

.onecol {
	width: 7em;
}

/* dialog */

#dialog select.operator {
	background-color: #eeeeee;
	padding: 2px;
	margin-right: 4px;
}

#dialog input[type=button] {
	margin: 3px;
	padding: 3px;
}

#dialog-container {
	position: fixed;
	top: 0; bottom: 0; left: 0; right: 0;
	background-color: #666;
	background-color: rgba(100,100,100,0.7);
	z-index: 20;
	display: none;
}

#dialog {
	position: fixed;
	top: 20%;
	left: 20%;
	background-color: #ccc;
	z-index: 30;
	padding: 10px;
	border: 4px solid #fff;
	display: none;
}

#dialog label {
	background-color: #ddd;
	padding: 5px;
}

#update-dialog-container {
}

#update-dialog {
	position: fixed;
	top: 5%;
	left: 20%;
	right: 20%;
	bottom: 5%;
	z-index: 30;
	overflow-y: auto;
	
	/* position: relative; */
	background-color: #ccc;
	padding: 10px;
	border: 4px solid #fff;
	display: none;
}

#dialog-content {
	overflow-y: auto;
	background-color: #ccc;
	z-index: 30;
	border: 2px solid #999;

	position: absolute;
	right: 5px;
	left: 5px;
	/* top: 20%;
	bottom: 20%; */
	top: 115px;
	bottom: 30px;
}

#dialog-content .remarks {
	display: inline-block;
	padding: 0 5px 0 5px;
	background-color: rgba(255, 221, 136, 0.9); /* #ccc; */
	margin-top: 4px;
}

#update-dialog .field {
	background-color: #ddd;
	padding: 3px;
	/* display: block; */
	margin-bottom: 5px;
}

#update-dialog textarea {
	width: 40em;
	height: 4em;
}

#update-dialog .setnull {
	float: right;
	padding: 0 3em 0 3em;
}

#update-dialog select.operator {
	background-color: #eeeeee;
	padding: 2px;
	margin-right: 4px;
}

#update-dialog input[type=button] {
	margin: 3px;
	padding: 3px;
}

#update-dialog input[type=text] {
	width: 20em;
}

#update-dialog input[type="file"] {
	background-color: #ccc;
}

#update-dialog .dialog-title {
	z-index: 35;
	/* position: fixed;
	top: 5%;
	left: 20%;
	right: 20%; */
}

.dialog-title {
	font-weight: bold;
	margin: 5px 0 10px 0;
}

.dialog-title code {
	font-size: larger;
}

.obs {
	font-weight: normal;
	font-style: italic;
	font-size: small;
	display: inline-block;
}

#dialog-messages {
	/* position: absolute; */
	margin: 5px 0 15px 0;
	border: 2px solid #000;
	z-index: 35;
}

#dialog-footer {
	position: absolute;
	bottom: 0px;
}

#models-container select {
	width: 70px;
}

#models-outer {
	/* border: 2px solid #666; */
	margin-right: 2px;
	padding: 4px 0 5px 0;
	background-color: #555;
}

#download-ext {
	position: absolute;
	top: 15px;
	/*right: 15px;*/
	width: 15em;
	z-index: 100;
	max-height: 80%;
	background-color: #fff;
	border: 3px solid #bbb;
}

#download-ext li {
	list-style: none;
}

#download-ext input {
	float: right;
	margin: 5px;
}

/***** diff *****/

.texttitle {
	font-family: monospace;
	padding: .4em;
}

#modelTargetLabel, #content-to-title, #diffoutput th.texttitle.new /*, #diffoutput tr th.texttitle:nth-child(4)*/ {
	background-color: #188859;
	color: #ddd;
	/*background-color: #9E9;
	color: #000;*/
}

#modelSourceLabel, #content-from-title, #diffoutput th.texttitle.base /*, #diffoutput tr th.texttitle:nth-child(2)*/ {
	/*background-color: #E99;
	color: #000;*/
}

#diffoutput table {
	/*table-layout: fixed;
	min-width: 90%;
	max-width: 96%;*/
}

#diffoutput tr th:not(.texttitle) {
	/* background-color: #aaf;
	width: 42px;
	-webkit-column-width: 42px;
	-moz-column-width: 42px;
	column-width: 42px;*/
}

#content-toggle {
	position: absolute;
	top: 10px;
	right: 10px;
	background-color: whitesmoke;
	padding: 2px;
	font-weight: bold;
	border: 2px solid #bbb;
	cursor: pointer;
}
