#editor {
	/*position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	right: 1ex;
	left: 1ex;
	margin: 2em;
	*/
	height: 20em;
	border: 1px solid black;
}
/*#objectid-container {
	background-color: #ddd;
}*/
label {
	background-color: #ddd;
	font-weight: bold;
}
.container {
	border: 1px solid #999;
	margin-top: 2px;
	margin-bottom: 2px;
}
#button-container {
	display: inline-block;
}

.closebutton {
	background-color: #666;
	position: absolute;
	right: 0px;
	font-weight: bold;
	border: 0;
}
/*#queryResult {
	overflow-y: scroll;
	bottom: 0px;
}*/

#status-container {
	position: fixed;
	bottom: 0;
	padding: 2px;
	right: 0;
}

a, a:visited {
	font-weight: bold;
	font-size: 10pt;
	color: #000;
	padding: 2px;
}

#url-permalink {
	display: none;
}

#removebutton {
	/*font-weight: bold;
	font-size: 10pt;
	color: #000;
	padding: 2px;
	*/
	background-color: #f55;
}

#objectid-container {
}

#editor {
}

#spec {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	background-color: #ddd;
}

#button-container input[type=button] {
	border: 1px solid #999;
	margin: 2px;
}

#actions-container a {
	text-decoration: none;
	border: 1px solid #999;
	padding: 1px 9px 1px 9px;
}

#queryResult {
	position: absolute;
	z-index: -1;
}

.message {
	border: 1px solid #999;
	margin: 2px;
	padding: 2px;
}
