#nav {
	background-color: #222;
	color: #ddd;
	font-weight: bold;
	font-size: 10pt;
	padding: 3px;
	top: 0px;
	right: 0px;
	left: 0px;
	/*height: 30px;*/
	z-index: 10;
	overflow-y: auto;
	max-height: 100%;
}

#nav a, #nav a:visited {
	color: #ccc;
}
#navbar-prop {
	display: none;
}
#navbar-links {
	display: inline-block;
	padding-top: 5px;
}

#authinfo {
	float: right;
	margin: 6px;
}
#username {
	background-color: #555;
	padding: 2px;
	display: none;
}

#dialog-container {
	position: fixed;
	top: 0; bottom: 0; left: 0; right: 0;
	background-color: #666;
	background-color: rgba(100,100,100,0.7);
	z-index: 20;
	display: none;
}
#dialog {
	position: fixed;
	top: 20%;
	left: 20%;
	background-color: #ccc;
	z-index: 20;
	padding: 10px;
	border: 4px solid #fff;
}
#dialog label {
	background-color: #ddd;
	padding: 5px;
}
