
body {
	margin: 0 auto;
	font: normal 10pt Tahoma, Geneva, sans-serif; 
	background-color: #ddd;
}
h1,h2,h3 {
	/*padding-top: 60px; / * 60px to make the container go all the way to the bottom of the topbar
	font-family: Helvetica, sans-serif;
	background-color: #fff;*/
}

td {
	border: 1px solid #bbb;
}
th {
	border: 1px solid #bbb;
	background-color: #fff;
}
.tdnull {
	background-color: #ddd;
}
.detail {
	background-color: #fd8;
}

.error {
	background-color: #faa;
	color: #000;
}

.errorbutton {
	background-color: #f66;
	font-weight: bold;
	border: 0;
	color: #000;
}

.info {
	background-color: #aaf;
}

.infobutton {
	background-color: #66f;
	font-weight: bold;
	border: 0;
}

.parameter-label {
	display: inline-block;
}

.simplebutton {
	background-color: #999;
	font-weight: bold;
	border: 0;
	padding: 0;
}
