
body {
	margin: 0 auto;
	font: normal 10pt Tahoma, Geneva, sans-serif; 
	background-color: #ddd;
}
h1,h2,h3 {
	/*padding-top: 60px; / * 60px to make the container go all the way to the bottom of the topbar
	font-family: Helvetica, sans-serif;
	background-color: #fff;*/
}

/* table, td, th styles already on table.css - table.css takes precedence */
table {
	border-spacing: 0;
	/* border-collapse: collapse; */
}
table tr:hover td {
	background-color: #efefef; /* !important */
	/*opacity: 0.4; /* CSS3 */
}
td {
	border: 1px solid #bbb;
}
th {
	border: 1px solid #bbb;
	background-color: #fff;
}

.tdnull {
	background-color: #ddd;
}
.detail {
	background-color: #fd8;
}

.error {
	background-color: #faa;
	color: #000;
}

.errorbutton {
	background-color: #f66;
	font-weight: bold;
	border: 0;
	color: #000;
}

.info {
	background-color: #aaf;
}

.infobutton {
	background-color: #66f;
	font-weight: bold;
	border: 0;
}

.status {
	background-color: #222;
	color: #ddd;
}

.statusbutton {
	background-color: #666;
	font-weight: bold;
	border: 0;
}

.parameter-label {
	display: inline-block;
}

.simplebutton {
	background-color: #999;
	font-weight: bold;
	border: 0;
	padding: 0;
}

input[type=button] {
	border: 0;
	padding: 3px 9px 3px 9px;
	font-weight: bold;
	margin: 0px 1px 0px 1px;
}

input.mainaction {
	background-color: rgb(146, 218, 136);
}

input.onaction {
	background-color: #f90;
}

input.parameter {
	width: 8em;
}

input.filter {
	width: 8em;
}

#dialog input[type=button] {
	margin: 3px;	
}


/* typeahead */

.tt-dropdown-menu {
	/*width: 422px;*/
	/*margin-top: 12px;*/
	padding: 8px 0;
	background-color: #fff;
	border: 1px solid #ccc;
	/*border: 1px solid rgba(0, 0, 0, 0.2);*/
}

.tt-suggestion {
	padding: 3px 20px;
	/*font-size: 18px;*/
	/*line-height: 24px;*/
}

.tt-suggestion.tt-cursor {
	color: #fff;
	/* background-color: #0097cf; */
	background-color: rgb(126, 198, 116);
}

.tt-suggestion p {
	margin: 0;
}
