
body {
	margin: 0 auto;
	font: normal 10pt Tahoma, Geneva, sans-serif; 
	background-color: #ddd;
}
h1,h2,h3 {
	/*padding-top: 60px; / * 60px to make the container go all the way to the bottom of the topbar
	font-family: Helvetica, sans-serif;
	background-color: #fff;*/
}
 
#logo {
	padding: 2px 9px 3px 9px;
	display: inline-block;
	margin-top: 2px;
	margin-left: 5px;
}

/* table, td, th styles already on table.css - table.css takes precedence */
table {
	border-spacing: 0;
	/* border-collapse: collapse; */
}
table tr:hover td {
	background-color: #efefef; /* !important */
	/*opacity: 0.4; /* CSS3 */
}
td {
	border: 1px solid #bbb;
}
th {
	border: 1px solid #bbb;
	background-color: #fff;
}

.tdnull {
	background-color: #ddd;
}
.detail {
	background-color: #fd8;
}

.error {
	background-color: #faa;
	color: #000;
	margin-top: 3px;
}

/* .errorbutton { */
.error .closebutton {
	background-color: #f66;
	font-weight: bold;
	border: 0;
	color: #000;
}

.info {
	background-color: #aaf;
	color: #000;
	margin-top: 3px;
}

/* .infobutton { */
.info .closebutton {
	background-color: #66f;
	font-weight: bold;
	border: 0;
}

.status {
	background-color: #222;
	color: #ddd;
	margin-top: 3px;
}

.statusbutton {
	background-color: #666;
	font-weight: bold;
	border: 0;
}

.parameter-label {
	display: inline-block;
}

input[type=button].simplebutton {
	background-color: #aaa;
	font-weight: bold;
	border: 0;
	padding: 0;
}

.navbar label {
	background-color: #666;
	padding: 0 1px 0 2px;
	margin: 0px 1px 0px 2px;
	border: solid 1px #767676;
	display: inline-block;
}

input[type=button] {
	border: 0;
	padding: 3px 9px 3px 9px;
	font-weight: bold;
	margin: 0px 1px 0px 1px;
}

input.mainaction {
	background-color: rgb(146, 218, 136);
}

input.onaction {
	background-color: #f90 !important;
}

select.onaction {
	background-color: #f90;
}

input.parameter {
	width: 8em;
}

input.filter {
	width: 8em;
}

input[readonly="readonly"] {
	background-color: #ccc;
}

.external {
	background-image: url(../image/external-link-ltr-icon.png);
	background-position: right 3px center;
	background-repeat: no-repeat;
	padding-right: 18px !important;
}

.orderbutton-container {
	display: inline-block;
	margin: 0 5px 0 5px;
}

input[type=button].orderbutton {
	padding: 0;
	font-size: smaller;
}

input[type=button].button-selected {
	background-color: rgb(146, 218, 136);
}

input[type=button].btn-insert {
	background-color: #88f;
	font-family: monospace;
	font-weight: bold;
	width: 1.5em;
	height: 1.5em;
	padding: 0px 0px;
}

input[type=button].btn-update {
	background-color: orange;
	font-family: monospace;
	font-weight: bold;
	width: 1.5em;
	height: 1.5em;
	padding: 0px 0px;
}

input[type=button].btn-delete {
	background-color: red;
	font-family: monospace;
	font-weight: bold;
	width: 1.5em;
	height: 1.5em;
	padding: 0px 0px;
}

/* filters */

#filters input[type=button] {
	padding: 1px 3px 1px 3px;
}

/* left menu */

#leftmenu {
	background-color: #ccc;
	width: 15em;
	padding: 10px;
	z-index: 100;
	position: fixed;
	top: 0px;
	bottom: 0px;
}

#leftmenu ul {
	list-style: none;
	padding: 0 0 0 5px;
	margin: 0;
}

#leftmenu li {
	padding: 0 0 15px 0;
	font-weight: bold;
}

#leftmenu li a {
	text-decoration: none;
}

#leftmenu li a, #leftmenu li a:visited {
	color: #000;
}

/* typeahead */

.tt-dropdown-menu {
	/*width: 422px;*/
	/*margin-top: 12px;*/
	padding: 8px 0;
	background-color: #fff;
	border: 1px solid #ccc;
	/*border: 1px solid rgba(0, 0, 0, 0.2);*/
}

.tt-suggestion {
	padding: 3px 20px;
	/*font-size: 18px;*/
	/*line-height: 24px;*/
}

.tt-suggestion.tt-cursor {
	color: #fff;
	/* background-color: #0097cf; */
	background-color: rgb(126, 198, 116);
}

.tt-suggestion p {
	margin: 0;
}
