
body {
	margin: 0 auto;
	font: normal 10pt Tahoma, Geneva, sans-serif; 
	background-color: #ddd;
}
h1,h2,h3 {
	/*padding-top: 60px; / * 60px to make the container go all the way to the bottom of the topbar
	font-family: Helvetica, sans-serif;
	background-color: #fff;*/
}

#logo {
	padding: 2px 9px 3px 9px;
	display: inline-block;
	margin-top: 2px;
	margin-left: 5px;
}

/* table, td, th styles already on table.css - table.css takes precedence */
table {
	border-spacing: 0;
	/* border-collapse: collapse; */
}
table tr:hover td {
	background-color: #efefef; /* !important */
	/*opacity: 0.4; /* CSS3 */
}
td {
	border: 1px solid #bbb;
}
th {
	border: 1px solid #bbb;
	background-color: #fff;
}

.tdnull {
	background-color: #ddd;
}
.detail {
	background-color: #fd8;
}

.error {
	background-color: #faa;
	color: #000;
	margin-top: 3px;
}

/* .errorbutton { */
.error .closebutton {
	background-color: #f66;
	font-weight: bold;
	border: 0;
	color: #000;
}

.warn {
	background-color: #fb4;
	color: #000;
	margin-top: 3px;
}

.warn .closebutton {
	background-color: #f90;
	font-weight: bold;
	border: 0;
}

.info {
	background-color: #aaf;
	color: #000;
	margin-top: 3px;
}

/* .infobutton { */
.info .closebutton {
	background-color: #66f;
	font-weight: bold;
	border: 0;
}

.status {
	background-color: #222;
	color: #ddd;
	margin-top: 3px;
}

input[type=button].statusbutton, .statusbutton {
	background-color: #666;
	font-weight: bold;
	border: 0;
}

.parameter-label {
	display: inline-block;
}

input[type=button].simplebutton {
	background-color: #aaa;
	font-weight: bold;
	border: 0;
	padding: 0;
}

.navbar label {
	background-color: #666;
	padding: 0 1px 0 2px;
	margin: 0px 1px 0px 2px;
	border: solid 1px #767676;
	display: inline-block;
}

button {
	cursor: pointer;
	border: 0;
	padding: 3px 9px 3px 9px;
	font-weight: bold;
	margin: 0px 1px 0px 1px;
	background-color: #dddddd; /* rgb(221, 221, 221); */
}

button.on {
	/*background-color: #eaa845; #ddab60; #f90; */
	background-color: #767676;
	color: #ddd;
}

button.manageaction {
	color: rgba(220, 54, 0);
	background-color: #444;
	/* padding: 3px 9px 3px 9px; */
}

button.manageaction.on {
	color: #ddd;
	background-color: rgba(220, 54, 0);
	/* background-color: rgba(255, 54, 0, 0.4); */
}

input[type=button] {
	border: 0;
	padding: 3px 9px 3px 9px;
	font-weight: bold;
	margin: 0px 1px 0px 1px;
	background-color: #dddddd; /* rgb(221, 221, 221); */
}

span[draggable=true]:hover {
	cursor: move;
	cursor: grab;
}

input.mainaction {
	background-color: #92DA88; /* rgb(146, 218, 136); */
}

input.onaction {
	background-color: #999999; /* #3a5736; #f90 !important; */
	/* color: #ddd; */
	cursor: progress;
}

input.onaction.mainaction {
	background-color: #578251;
}

input[type="button"].onaction {
	cursor: progress;
}

select.onaction {
	background-color: #f90;
}

.mainaction.onaction {
	background-color: #578251;
}

.onaction {
	background-color: #999999; /* #578251; */
	/* color: #ddd; */
	cursor: progress;
	/* background-color: #f90, red; */
	/* animation: color_change 0.5s infinite alternate; */
}

@keyframes color_change {
	from { background-color: #92DA88; }
	to { background-color: #757575; } /* #ff9900 #cc4444 #C8B944; -- #92DA88; rgb(146, 218, 136); */
}

input.parameter {
	width: 8em;
}

input.parameter[type=file] {
	width: 15em;
}

input.filter {
	width: 10em;
	border: 1px;
	padding: 1px 3px;
}

.filterspan {
	padding: 0 2px 0 3px;
}

input.noargs {
	display: none;
}

label.filter-label {
	padding-top: 2px;
	padding-bottom: 2px;
}

/*label.filter-label em {
	padding-top: 4px;
	padding-bottom: 4px;
}*/

input[readonly="readonly"] {
	background-color: #ccc;
}

.external {
	background-image: url(../image/external-link-ltr-icon.png);
	/* background-image: url(../image/external-link-ltr-icon.svg);
	background-size: 10px; */
	background-position: right 3px center;
	background-repeat: no-repeat;
	padding-right: 18px !important;
}

.orderbutton-container {
	display: inline-block;
	margin: 0 5px 0 5px;
	/* color: #000; */
}

.filterbutton-container {
	margin: 0 2px 0 2px;
	/*background-color: buttonface;*/
	/*color: rgb(76, 76, 76);*/
	font-family: FontAwesome;
}

.filterbutton-container input {
	font-family: FontAwesome;
	font-size: x-small;
	padding: 1px;
}

input[type=button].orderbutton {
	padding: 0;
	font-size: smaller;
}

input[type=button].button-selected {
	background-color: #92DA88; /* rgb(146, 218, 136); */
}

input[type=button].filter-selected {
	background-color: #f90;
}

input[type=button].btn-insert {
	background-color: #88f;
	font-family: monospace;
	font-weight: bold;
	width: 1.5em;
	height: 1.5em;
	padding: 0px 0px;
}

input[type=button].btn-update {
	background-color: orange;
	font-family: monospace;
	font-weight: bold;
	width: 1.5em;
	height: 1.5em;
	padding: 0px 0px;
}

input[type=button].btn-delete {
	background-color: red;
	font-family: monospace;
	font-weight: bold;
	width: 1.5em;
	height: 1.5em;
	padding: 0px 0px;
}

input[type=button] {
	/* input[type=button].content-btn { */
	cursor: pointer;
}

.btn-animate-click:active {
	/* background-color: #578251; */
	background-color: #999999;
}

option.unavaiable {
	color: #bbb;
}

td.collast, th.collast {
	position: sticky;
	right: 0;
	z-index: 2;
	/* from 'th' */
	background-color: #fff;
	text-align: center;
}

th.row1 {
	z-index: 5;
}

.fa-exclamation-triangle {
	color: #ff8;
}

/* filters */

#filters input[type=button] {
	padding: 1px 3px 1px 3px;
}

/* font-awesome buttons/"links" */

i[onclick] {
	cursor: pointer;
}

/* left menu */

#leftmenu {
	background-color: #ccc;
	width: 18em;
	/* padding: 10px; */
	z-index: 100;
	position: fixed;
	top: 0px;
	bottom: 0px;
	border-right: 3px #999 solid;
	/* border-top: 3px #999 solid; */
}

.leftmenu ul {
	list-style: none;
	padding: 0 0 0 5px;
	margin: 0;
}

.leftmenu li {
	padding: 2px;
	margin: 0 6px 12px 0;
	font-weight: bold;
}

.leftmenu li a {
	text-decoration: none;
}

.leftmenu li a, #leftmenu li a:visited {
	color: #000;
}

.leftmenu li a em {
	color: #777;
	font-size: smaller;
}

/* https://gist.github.com/chsh/2341675 */
.leftmenu li a[target="_blank"]:after {
	/* color: #f00; */
	content: "\f08e";
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	display: inline-block;
	text-decoration: inherit;
	font-size: smaller;
}

.leftmenu li.dev {
	background-color: rgba(255, 153, 0, 0.4);
}
.leftmenu li.multimodel {
	background-color: rgba(255, 153, 0, 0.8);
}
.leftmenu li.auth {
	background-color: rgba(140, 140, 140, 0.4);
}
.leftmenu li.sqlany {
	background-color: rgba(255, 54, 0, 0.4);
}


.leftmenu li.current {
	background-color: #fff;
}

.leftmenu .closebtn {
	/* position: absolute;
	right: 10px; */
	border: 2px solid #888;
	padding: 2px 2px 2px 3px;
	margin: 8px 4px 8px 4px;
}

/* css transitions */

.fadeoutable {
	transition: opacity 1s; 
}

.fadeoutable.fade {
	opacity: 0;
}

/* charts - nvd3 */

.nvtooltip td {
	border: 0;
}

/* typeahead */

.tt-dropdown-menu {
	/*width: 422px;*/
	/*margin-top: 12px;*/
	padding: 8px 0;
	background-color: #fff;
	border: 1px solid #ccc;
	/*border: 1px solid rgba(0, 0, 0, 0.2);*/
}

.tt-suggestion {
	padding: 3px 20px;
	/*font-size: 18px;*/
	/*line-height: 24px;*/
}

.tt-suggestion.tt-cursor {
	color: #fff;
	/* background-color: #0097cf; */
	background-color: rgb(126, 198, 116);
}

.tt-suggestion p {
	margin: 0;
}


/* markdown-content */

#markdown-content h1 a, #markdown-content h2 a, #markdown-content h3 a, #markdown-content h4 a {
	text-decoration: none;
	margin-left: -1em;
}

#markdown-content h1 a:after, #markdown-content h2 a:after, #markdown-content h3 a:after, #markdown-content h4 a:after {
	content: '# ';
	color: #ccc;
	font-weight: bolder;
}

#markdown-content h1:hover a:after, #markdown-content h2:hover a:after, #markdown-content h3:hover a:after, #markdown-content h4:hover a:after {
	color: #555;
}

.task-list-item {
	margin-left: -20px;
	list-style-type: none;
}
