<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>queryon</display-name>
	
	<servlet>
		<servlet-name>QueryOn</servlet-name>
		<servlet-class>tbrugz.queryon.QueryOn</servlet-class>
		<init-param>
			<param-name>properties-resource</param-name>
			<param-value>/tbrugz/queryon/http/empdept.properties</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>QueryOn</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
    
</web-app>