
# https://docs.github.com/en/actions/publishing-packages/publishing-docker-images#publishing-images-to-github-packages

name: Docker-deploy

on:
  push:
    branches: ['deploy'] # release?
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
  PROJECT_NAME: qon-demo-springboot
  PROJECT_DIR: demo/qon-demo-springboot

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Log in to the Container registry
        uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) from Git repo for Docker
        id: meta
        uses: docker/metadata-action@98669ae865ea3cffbcbaa878cf57c20bbf1c6c38
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: maven

      - name: Build all with Maven
        run: mvn -V -B package --file pom.xml

      - name: Build project jar
        run: mkdir -p ${{ env.PROJECT_DIR }}/target/dependency && cd ${{ env.PROJECT_DIR }}/target/dependency && jar -xf ../qon-demo-springboot.jar

      # https://docs.github.com/en/actions/using-workflows/workflow-commands-for-github-actions
      - name: Set project version
        id: set_version
        run: echo PROJECT_VERSION=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout) >> $GITHUB_ENV

      - name: Build and push Docker image
        uses: docker/build-push-action@ad44023a93711e3deb337508980b4b5e9bcdc5dc
        with:
          context: ./${{ env.PROJECT_DIR }}
          file: src/main/docker/Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }},${{ github.actor }}/${{ env.PROJECT_NAME }}:${{ env.PROJECT_VERSION }}
          labels: ${{ steps.meta.outputs.labels }}
