
# https://docs.github.com/en/actions/publishing-packages/publishing-java-packages-with-maven
# https://docs.github.com/en/packages/working-with-a-github-packages-registry/working-with-the-apache-maven-registry
# https://stackoverflow.com/questions/41611671/difference-between-altdeploymentrepository-and-altreleasedeploymentrepository

name: CI-deploy

on:
  push:
    branches: [ deploy ]
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v3
      - name: Set up Java for publishing to GitHub Packages
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
          server-id: github
          cache: maven
      - name: Publish to GitHub Packages
        run: mvn -V -B -DaltDeploymentRepository=github::default::https://maven.pkg.github.com/tbrugz/queryon/ deploy
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
