
body {
	margin: 0 auto;
	font: normal 10pt Tahoma, Geneva, sans-serif; 
	background-color: #ddd;
}
table {
	border-spacing: 0;
	/* border-collapse: collapse; */
}
table tr:hover td {
	background-color: #efefef; /* !important */
	/* https://developer.mozilla.org/en/docs/Web/CSS/filter */
	/*
	filter: contrast(100%);
	-webkit-filter: contrast(100%);
	*/
	/*opacity: 0.4; /* CSS3 */
}
table tr td table tr:hover td {
	/* 2nd level (inner) table */
	background-color: #ddd;
}
table tr td table tr td table tr:hover td {
	/* 3rd level (inner) table */
	background-color: #efefef;
}
table tr td table tr td table tr td table tr:hover td {
	/* 4th level (inner) table */
	background-color: #ddd;
}
td {
	border: 1px solid #bbb;
	padding: 2px 5px 2px 5px;
}
th {
	border: 1px solid #bbb;
	background-color: #fff;
	padding: 1px 5px 1px 5px;
}

/*
col & colgroup see:
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/col
http://quirksmode.org/css/css2/columns.html
*/
/*
col[type="Blob"] {
	background-color: #cfc;
}

col[type="Integer"] {
	text-align: right;
}
*/

/* table tr:nth-child(2n) {} */
	
td[title] {
	text-decoration: underline;
	/* -moz-text-decoration-line: underline; */
	/* border-bottom: 1px dashed #999; */
	-moz-text-decoration-style: dashed;
	-webkit-text-decoration-style: dashed; 
	text-decoration-style: dashed; 
}
td[null] {
	background-color: #888;
}

/* datadiff */

tr.equal td {
	background-color: #ddd;
	/*background-color: #99f;*/
}
tr.add td {
	background-color: #9f9;
}
tr.remove td {
	background-color: #f99;
}
tr.change td {
	background-color: #ff9;
}
tr.change td span.add {
	background-color: #9f9;
	margin-right: 4px;
}
tr.change td span.remove {
	background-color: #f99;
}
